// Specific CSS for your home-page
.container-light-green {
  background-image: url('https://res.cloudinary.com/daol2k792/image/upload/v1648004967/BathRoom4All/Constator/background-circles-2_fnvxlt.svg');
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  padding: 20px;
  height: 100vh;
  border: 0px;
  margin: auto;
}

.home-content {
  margin-top: 25%;
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
  color: $constator-dark-green;
}

.constator-home-text{
font-family: 'Quicksand', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 50px;
margin-top: 200px;
color: #006A71;
}
.home-text{
font-family: 'Orbitron', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 50px;
margin-top: 10px;
color: #99F9F2;
text-align: center;
}

.home-main {
  background:{
    image: asset_url("Home-page.png")
  }
  background-size: cover;
  padding: 20px;
  height: 100%;}

#home-container {
  height: 100vh;
}

.logo-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}

.register-btn-home {
  background: #FF7E67;
  border-radius: 5px;
  color: white;
  padding: 8px 20px;
  font-family: Quicksand;
  font-weight: bold;
  height: 100px;
  width: 340px;
  margin-left: 50px;
  text-decoration: none;
  margin-top: 30px;
}

.connect-btn-home {
  font-size: small;
  color: white;
  text-decoration: none;
}

.home-end {

}
