.register-fields {
margin-top: 100px;
margin-bottom: 100px;
}

#register-container {
  height: 95vh;
}

.sign-in {
height: 50px;
background: #FF7E67;
}

.btn-register {
background: #FF7E67;
border-radius: 15px;
color: white;
padding: 8px 24px;
font-family: Quicksand;
font-weight: bold;
height: 40px;
width: 300px;
}

.sign-in-button {
font-size: 18px;
margin-top: 11px;
  a {
  font-family: 'Quicksand', sans-serif !important;
  text-decoration: none;
  font-weight: bold;
  }
}

.sign-in-text {
margin-top: 12.5px;
font-family: 'Quicksand';
font-weight:lighter;
font-size: 18px;
color: #FFFFFF;
}

.register-main {
  background:{
    image : asset_url("register_background.png")
  }
  background-size: cover;
  padding: 20px;
  height: 100%;}

.transparent-input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color:white;
  background: transparent;
  font-family: 'Quicksand', sans-serif;
  padding-bottom: 18px;
  padding-top: 18px;
}

.transparent-input:focus {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color:white;
  background: transparent;
}

.transparent-input::placeholder {
  color: #E5E5E5;
}

.create-account {
font-family: 'Quicksand', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 50px;

color: #FFFFFF;

}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
}
