.sign-up-botton {
width: 429px;
height: 50px;
background: #FF7E67;
}

.sign-up-fields {
position: absolute;
width: 354px;
height: 0px;
left: 36px;
top: 360px;
}

.sign-in {
height: 50px;
background: #FF7E67;
}

.sign-in-button {
font-size: 18px;
margin-top: 10px;
  a {
  font-family: 'Quicksand', sans-serif !important;
  text-decoration: none;
  font-weight: bold;
  }
}

.sign-in-text {
margin-top: 10px;
font-family: 'Quicksand';
font-style: normal;
font-size: 18px;
color: #FFFFFF;
}

.main {
  background-size: contain;
  padding: 20px;
  height: 100%;
  background-color: #006A71;
}

.transparent-input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color:white;
  background: transparent;
  font-family: 'Quicksand', sans-serif;
  padding-bottom: 18px;
  padding-top: 18px;
}

.transparent-input:focus {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color:white;
  background: transparent;
}

.transparent-input::placeholder {
  color: #E5E5E5;
}

.create-account {
font-family: 'Quicksand', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 50px;

color: #FFFFFF;

}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
}
