.report-bg {
background: rgb(0,106,113);
background: linear-gradient(180deg, rgba(0,106,113,1) 10%, rgba(236,244,243,1) 10%, rgba(236,244,243,1) 100%);
height: 100vh;
width: 100%;
z-index: -1;
}

.report-title {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 389px;
  height: 144px;
  position: relative;
  top: 15px;
  left: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
  h1 {
    color: $constator-dark-green;
    font-size: 36px;
    font-weight: bold;
  }
  z-index: 1;
}

.report-items {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 80px;
  width: 389px;
  position: relative;
  top: 15px;
  left: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .report-info {
  margin-left: 10px;
  width: 100px;
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  }

  .report-icons{
  margin-right: 10px;
  width: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  }

}

.filter{
  color: #FF7E67;
  margin-left: 20px;
  font-weight: bold;
}


.report-show-infos {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 389px;
  height: fit-content;
  position: relative;
  top: 15px;
  left: 12px;
  margin-bottom: 40px;
  z-index: 1;
}
.report-header{
  display: flex;
  justify-content:space-between;
  h1 {
  color: $constator-dark-green;
  font-size: 36px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 20px;
  }
  a {
    text-decoration: none !important;
  }
  i {
    margin-top: 32px;
    margin-right: 16px;
    font-size: 20px;
  }
}

.report-infos {
  width: 100%;
}

.field {
  color: $constator-dark-green;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 20px;
  label{
    color: $constator-dark-green;
    font-size: 16px;
    font-weight: bold;
    margin-left: 2px;
    margin-top: 20px;
  }
}

.field-new {
  color: $constator-dark-green;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
}

.field-data {
  background-color: #ECF4F3;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: fit-content;
  margin: 10px 10px 20px 10px;
  color: black;
  padding-left: 5px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-style: italic;
}

.field-writer {
  background-color: #ECF4F3;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  height: 30px;
  margin: 18px 10px 20px 20px;
  color: black;
  width: 230px;
  padding-left: 5px;
  padding-right: 10px;
  padding-top: 5px;
  font-weight: bold;
}

.field-option {
  background-color: #ECF4F3;
  border-color: #ccc;
  border-radius: 5px;
  height: 35px;
  margin: 15px 10px 20px 20px;
  color: grey;
  width: 230px;
  padding-left: 5px;
  padding-right: 10px;
  font-weight: bold;
}

.map-report {
  width: 90%;
  height: 300px;
  margin-left: 18px;
  border: 4px solid $constator-dark-green;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.btn-save-report {
  background: #FF7E67;
  border-radius: 15px;
  color: white;
  font-family: Quicksand;
  font-weight: bold;
  height: 50px;
  width: 150px;
  margin-top:30px;
  margin-bottom: 40px;
}

.report_accident_datetime{
  display: flex;
}

.field-date {
  background-color: #ECF4F3;
  border-color: #ccc;
  border-radius: 5px;
  height: 35px;
  margin: 15px 10px 20px 20px;
  color: grey;
  width: 230px;
  padding-left: 5px;
  padding-right: 10px;
  font-weight: bold;
  margin-left: 65px;
}
