.login-main {
  background:{
    image: asset_url("sign-up_background.png")
  }
  background-size: cover;
  padding: 20px;
  height: 100%;}

.login-fields {
  margin-top: 30px;
  margin-bottom: 30px;
}

.login-input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color:rgba(105, 103, 103, 1);
  background: transparent;
  font-family: 'Quicksand', sans-serif;
  padding-bottom: 18px;
  padding-top: 18px;
  color:rgb(0, 0, 0);
}
.login-input:focus {
  color:black
}
.login{
font-family: 'Quicksand', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 50px;
margin-top: 130px;
color: #006A71;
}

#login-container {
  height: 35vh;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.login-button {
  background: #006A71;
  border-radius: 15px;
  color: white;
  padding: 10px 24px;
  font-family: Quicksand;
  font-weight: bold;
  height: 60px;
  width: 300px;
  margin-bottom: 40px;
}
