<h1>Editing Insurance Certificate</h1>

<%= render 'form', insurance_certificate: @insurance_certificate %>

<%= link_to 'Show', @insurance_certificate %> |
<%= link_to 'Back', insurance_certificates_path %>
