<div class="container">
  <div class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">

      <i class="fas fa-robot" style="color: black"></i>
      <%# <a class="navbar-brand" href="#">
        <img src="logo_voiture.png" width="50" height="50" alt="">
      </a> %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <%= link_to 'My reports',   "reports#index", class: 'nav-item nav-link' %>
          <%= link_to 'My drivers',   "drivers#index", class: 'nav-item nav-link' %>
          <%= link_to 'My vehicles',   "vehicles#index", class: 'nav-item nav-link' %>
        </div>
      </div>
    </nav>
  </div>
</div>
