<div id="home-container" class="home-main">
  <div class= "row">
    <div class="col-12" style="margin-top:230px">
      <%= image_tag ("Constator-logo.png"), alt: "Constator", width: 400, class: "logo-center" %>
    </div>
    <div class="col-12">
      <h2 class="home-text">Faster, Better, Stronger</h2>
    </div>
    <div class="col-12" style="margin-top:-20px">
      <p><q>Wise men are never in a hurry</q></p>
    </div>
    <div class="col-12">
      <%= link_to "Join the community", new_user_registration_path, class: "register-btn-home" %>
    </div>
    <div class="col-12">
      <%= link_to "Already having an account, sign-in !", user_session_path %>
    </div>
  </div>
<% end %>
