.navbar-nav {
  background-color: $constator-dark-green !important;
}

.navbar-nav > a:hover {
  color: $constator-dark-orange !important;
  font-size: bold !important;
  transition: all 0.3s ease-in-out;
}
