.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo-navbar {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar-position{
  z-index: 1;
  position: relative;
}

button.navbar-toggler {
  position: relative;
  top: -45px;
  .navbar-toggler-icon{
    border: none !important;
  }
}

.navbar-sandwich {
  background:{
    image : asset_url("navbar-sandwich.png");
  }
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

#nav-menu{
  position: absolute;
  z-index: 9;
  background-color: $constator-dark-green;
  width: 100%;
  min-height: 300px;
  border-radius: 16px;
}

.nav-element{
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
    margin-left: 10px;
    font-size: 22px;
    font-weight: lighter;
}
