.navbar-nav > a:hover {
  background-color: $constator-dark-orange !important;
  color: white !important;
  font-size: bold !important;
  transition: all 1s ease-in-out;
}

#custom {
  background-color: #006A71;
  height: 200px;
}
