<h1>Editing Report</h1>

<p>a</p>
<% @report.signatures.each do |signature| %>
  <p>+1</p>
   <%= image_tag signature.representation(resize_to_limit: [100, 100]) %>
<% end %>

<%= render 'form', report: @report %>

<%= link_to 'Show', @report %> |
<%= link_to 'Back', reports_path %>
