<%= render "shared/navbar" %>
<div class=blurry>
  <div class="report-bg">
    <div class="report-title">
      <div>
        <h1>Mes constats</h1>
      </div>
      <div>
        <%= link_to new_report_path do %>
          <%= image_tag ("Vector.png") %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% Report.all.each do |report|%>
  <% if ownership(report) == "driver 1" || ownership(report) == "driver 2" %>
    <%= link_to "report #{report.id}", report_path(report) %>
  <% end %>
<% end %>
