<%= render "shared/navbar" %>
<div class="report-bg">
  <div class="report-show-infos">
    <div class="report-header">
      <div>
        <h1>Nouveau Constat</h1>
      </div>
    </div>
      <% if params[:action] == "new" %>
        <%# !@disabled faire un if au global pour fournir une vue différente entre le 1er driver le 2nd%>
        <%= render "reports/form_create_report" %>
      <% end %>
  </div>
  <div style="height:1vh;width:100%">
  </div>
</div>
